@font-face {
  font-family: "Noto Sans JP";
  src: url("./assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format("otf"); /* Modern Browsers */
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf"); /* Modern Browsers */
}

body {
  margin: 0;
  font-family: "Noto Sans JP", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
